/*全局代码*/
body{
	margin:0;
	padding:0;
	color:#000000;
	font:12px Arial,sans-serif,"宋体","黑体";
	background:#2A6E95;
}
/*字体链接代码*/
a{
	text-decoration: none;
}
/*#666666*/
a:link {
	color: #0000FF;
}
a:visited {
	color: #0000FF;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: underline;
}
/*正文、列表、段落、图片代码*/
ul{
	list-style-type:none;
	list-style-position : outside;
	margin:0 0 0 0;
	padding:0 0 0 0;
	word-break:break-all;
}
li{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	word-break:break-all;
}
img{
	border:0;
}

/*主要三层嵌套代码*/
#divAll{
	width:962px;
	margin:0 auto;
	padding:0;
}

#divPage{
	width:960px;
	margin:0;
	padding:0 6px 0 6px;
	text-align:left;
	float:left;
	
}

#divMiddle{
	width:962px;
	margin:0;
	padding:0;
	text-align:left;
	float:left;
	background: url(images/M-bg.jpg) no-repeat 0px 130px #D3E2E9;
}

/*头部代码*/
#divTop{
	width:962px;
	margin:0 auto;
	padding:0;
	text-align:left;
	float:left;
	height:150px;
	background:url(images/header.gif)
}

/*侧栏代码*/
#divSidebar{
	width:210px;
	margin:0 0 0 0;
	padding:0 0 10px 0;
	text-align:center;
	float:left;
}

/*主栏代码*/
#divMain{
	width:730px;
	margin:0 0 0 0;
	padding: 0;
	text-align:left;
	float:left;
}

/*底部代码*/
#divBottom{
	width:962px;
	margin:0 auto;
	padding:20px 0 0 0;
	text-align:center;
	float:left;
	height:80px;
	background:url(images/Snap2.jpg) no-repeat 0px 68px;
}

/*侧栏模块代码*/
div.function {
	float:left;
	width:190px;
	margin:10px 0 0 0;
	padding:0 0 0 10px;
	text-align:left;
}
div.function h3{
	font-size:12px;
	height:15px;
	margin:0 0 0 0;
	padding:5px 0 0 5px;
	color:black;
	border-bottom:1pt dashed #000000;
}
div.function ul{
	text-align:left;
	width:190px;
	margin:2px 0 0 0;
	padding:5px 0 0 0;
	list-style-position:outside;
	list-style-type:none;
}
div.function li{
	margin:0 0 0 0;
	padding:2px 0 1px 15px;
	background:url("Vista/pointblue.gif") no-repeat 3px 4px;
}

#divCatalog li{
	background:none;
	padding:2px 0 1px 4px;
}
/*#divCatalog li span.feed-icon{
	display:none;
}*/
#divPrevious li span.article-date{
	display:none;
}

#divMisc{
	padding:10px 0 5px 10px;
}
#divMisc h3{
	display: none;
}
#divMisc ul{
	border:none;
}
#divMisc li{
	padding:2px 0 2px 15px;
	background-image : none;
}

div.function li span.feed-icon a{
	background:url("Vista/feed.png") no-repeat 0 3px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:14px;
	height:12px;
	width:12px;
}
div.function li span.feed-icon img{
	height:12px;
	width:9px;
	visibility:hidden;
	margin:0;
	padding:0;
}

#divContorPanel li{
	background-image : none;
}

#divSearchPanel li{
	background-image : none;
}

/*主栏正文代码*/
div.post {
	width:730px;
	margin:10px 0 10px 10px;
	padding:0 0 0 0;
	text-align:left;
}
div.post-nav {
	width:700px;
	clear:both;
	float:left;
}
div.post-nav a.l{
	float:left;
	padding-right:10px;
	padding-bottom:5px;
}
div.post-nav a.r{
	float:right;
	padding-left:10px;
	padding-bottom:5px;
}

div.post .post-title{
	width:700px;
	padding:5px 0 5px 8px;
	margin:0 0 0 0;
	font-size:15px;
	color: #ffffff;
	background:url(images/header.png) no-repeat;
}

div.post .post-title a{
	color: #ffffff;
}
div.post .post-title a:hover{
	color: #ffffff;
}
div.post .post-date{
	width:658px;
	margin:0 0 0 0;
	padding:5px 5px 2px 0;
	font-size:12px;
	color:gray;
}

div.post .post-footer{
	width:700px;
	margin:10px 0 30px 0;
	padding:2px 0 0 0;
	font-size:12px;
	color:gray;
	height:20px;
	text-align:right;
}
body.single div.post .post-footer{
	margin:10px 0 0 0;
}

div.post .post-tags{
	width:690px;
	margin:2px 0 2px 5px;
	padding:2px 0 0 0;
	font-size:12px;
	color:gray;
	height:20px;
	text-align:left;
}

body.multi div.post .post-tags{
	/*display:none;*/
}

div.post div.post-body{
	width:700px;
	margin:0 0 0 0;
	padding:5px 0 0 5px;
	font-size:13px;
	word-break:break-all;
	text-align:left;
	line-height:150%;
}

div.post-body div.media a{
	padding-left:16px;
	background:#FBFBFB url("Vista/media.gif") no-repeat 0 center;
}

div.post-body img{
	padding:4px 4px 4px 4px;
	border:0;
	clear : both;
	float : none;
	max-width:700px;
}

div.post-body p{
	margin:10px 0 15px 0;
	padding:0;
}
div.post-body p.img{
	margin:0;
	padding:0;
	text-align:center;
}
div.post-body p.inscript{
	margin:0;
	padding:0;
	padding-right:20px;
	text-align:right;
}
div.post-body p.code{
	padding:5px;
	border:1px dotted black;
}
div.post-body div.code{
	padding:5px;
	border:1px dotted black;
}

div.post-body h1{
	color: #000000;
	margin:0;
	padding:0;
	font-size:16px;
}
div.post-body h2{
	color: #000000;
	margin:0;
	padding:0;
	font-size:14px;
}
div.post-body h3{
	color: #000000;
	margin:0;
	padding:0;
	font-size:13px;
}
div.post-body h4{
	color: #000000;
	margin:0;
	padding:0;
	font-size:12px;
}
div.post-body h5{
	color: #000000;
	margin:0;
	padding:0;
	font-size:11px;
}
div.post-body h6{
	color: #000000;
	margin:0;
	padding:0;
	font-size:10px;
}

/*博客标题代码*/
#BlogTitle{
	font-size:24px;
	margin:15px 0 0 10px;
	padding:0;
	font-weight:bold;
}
#BlogTitle a{
	color:#ffffff;
}
#BlogTitle a:hover {
	color: #ffffff;
	text-decoration: none;
}
#BlogTitle a:active {
	color: #ffffff;
	text-decoration: none;
}
#BlogSubTitle{
	color: #ffffff;
	font-size:12px;
	margin:2px 0 0 10px;
	padding:0;
}

/*底部版权代码*/
#BlogPowerBy{
	font-size:12px;
	height:20px;
	margin:0;
	padding:5px 10px 0 10px;
	text-align:center;
	font-weight:normal;
}
#BlogCopyRight{
	font-size:12px;
	height:20px;
	margin:0;
	padding:0 10px 0 10px;
	text-align:center;
	float:none;
	clear:both;
	font-weight:normal;
}


/*评论代码*/
p.posttop {
	margin:10px 0 0 0;
	padding:3px 0 2px 12px;
	background: url("Vista/pointblue.gif") no-repeat 0 center;
}
p.postbottom {
	margin:0 0 10px 0;
	padding:5px 0 0 0;
}

#frmSumbit{
	padding:0;
	margin:0;
}

#frmSumbit p{
	padding:5px 0 5px 0;
}


input.button{
	background: white;
	border: 1px double #bbb;
	color: #333;
	padding: 0.05em 0.25em 0.05em 0.25em;
}

input.text {
	padding: 0.15em 0.25em 0.20em 0.25em;
	border: 1px double #bbb;
	width: 200px;
	background: white;
}

textarea.text {
	padding: 0.15em 0.25em 0.20em 0.25em;
	border: 1px double #bbb;
	width: 80%;
	height: 80px;
	background: white;
	width: 650px;
	height: 120px;
}


/*日历代码*/
#divCalendar{
	padding:0 0 0 10px;
	text-align:center;
	background-image:none;
}

#divCalendar h3{
	display:none;
}

#divCalendar div{
	margin:0 0 0 0;
	padding:0 0 5px 4px;
	float:left;
}

p.w{
	float:left;
	width:25px;
	height:16px;
	margin:4px 0 0 0;
	padding:2px 0 1px 0;
	text-align:center;
	vertical-align :middle;
	font-size:9px;
	text-decoration : underline; 
}

p.y{
	text-align:center;
	height:14px;
	margin:2px 0 0 0;
	padding:0 0 0 0;
	float:left;
	width:175px;
	font-size:12px;
	font-weight:bold;
}
p.d{
	float:left;
	width:25px;
	height:18px;
	margin:0 0 0 0;
	padding:2px 0 0 0;
	text-align:center;
	vertical-align :middle;
}
p.yd{
	float:left;
	width:25px;
	height:18px;
	margin:0 0 0 0;
	padding:2px 0 0 0;
	text-align:center;
	vertical-align :middle;
	font-weight:bolder;
	color:#6090c0;
}
p.nd{
	float:left;
	width:25px;
	height:18px;
	margin:0 0 0 0;
	padding:2px 0 0 0;
	text-align:center;
	vertical-align :middle;
}
p.cd{
	float:left;
	width:25px;
	height:18px;
	margin:0 0 0 0;
	padding:2px 0 0 0;
	text-align:center;
	vertical-align :middle;
	font-weight:bold;
}


/*相关文章和引用代码*/
ul.msg{
	width:700px;
	margin:10px 0 15px 10px;
	padding:0 0 0 0;
	text-align:left;
	list-style-position : outside;
	border-top:1px solid #e0e0e0;
	table-layout: fixed;
	word-wrap:break-word;
}
ul.trackback{
	border-top:none;
}
ul.mutuality{
	border-top:none;
}
li.msgname{
	padding:5px 0 5px 5px;
	margin:0px;
}
li.tbname{
	padding:0 0 0 5px;
	margin:0px;
	border-bottom:1px solid #e0e0e0;
}
li.msgurl{
	text-align:right;
	padding:2px 10px 2px 10px;
	margin:0;
}
li.msgarticle{
	list-style-position : outside;
	padding:15px 10px 15px 10px;
	margin:0;
	line-height:150%;
}
li.msgtime{
	text-align:right;
	padding:2px 5px 2px 10px;
	margin:0 0 0 0;
}
ul.trackback li.tbname{
	border-bottom:none;
	background: url("Vista/pointblue.gif") no-repeat 0 center;
	padding:3px 0 2px 12px;
	margin:0px;
}
ul.trackback{
	margin:5px 0 10px 10px;
}
ul.mutuality{
	margin:5px 0 10px 10px;
}
ul.mutuality li.tbname{
	background: url("Vista/pointblue.gif") no-repeat 0 center;
	padding:3px 0 2px 12px;
	margin:0px;
	border:none;
}
ul.mutuality li.msgarticle{
	padding:0 10px 10px 16px;
	border:none;
}


li.msgarticle div.quote{
	padding:10px;
	background:#f0f0f0;
}
li.msgarticle div.quote-title{
	margin:2px;
	padding:3px;
	font-size:120%;
	border-bottom:1px #f8f8f8 solid;
}

/*导航栏代码*/
#divNavBar{
	float:left;
	width:898px;margin:-45px 0 0 30px;
	height:24px;text-align:center;
}

#divNavBar h3{
	display:none;
}

#divNavBar ul{
	margin:0;
	padding:0;
}

#divNavBar li{
	float:left;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-size:12px;
	line-height:12px;
}

#divNavBar a{
	float:left;width:80px;
	margin:0;
	padding:7px 10px 3px 10px;
	height:14px;
	text-decoration: none;
}

#divNavBar a:link {
	color: #ffffff; 
	background:url(images/menulink.jpg) no-repeat;
}
#divNavBar a:visited {
	color: #ffffff;
	background:url(images/menulink.jpg) no-repeat;
}
#divNavBar a:hover {
	color: #ffffff;
	background:url(images/menumove.jpg) no-repeat;
}
#divNavBar a:active {
	color: #ffffff;
	background:url(images/menuaction.jpg) no-repeat;
}

div.pagebar a,div.pagebar span{
padding:1px;
}

/*美化的分页链接*/
.pagebar{
    line-height:20px;
    height:20px
}
.pagebar a,.pagebar .now-page{
    padding:1px 3px 2px 3px;
    margin:0 2px;
    text-align:center;
    font-weight:bold;
    font-family:Verdana;
    border:1px solid #ccc;
    text-decoration:none
}
.pagebar a:hover{
    border:1px solid #c00;
    text-decoration:none
}

/*Jet Yan自定义*/
.pageindex {
	padding:5px 0 0 5px;
	font-size:13px;
	word-break:break-all;
	text-align:left;
	line-height:150%;
}

#divTop1{
	width:610px;
	margin:0 0 0 0;
	padding:0 0 10px 0;
	text-align:left;
	float:left;
}
#divTop2{
	width:350px;
	margin:5px 0 0 0;
	padding: 0;
	text-align:right;	
	float:left;
}
#divTop3{
	width:250px;
	margin:5px 0 0 0;
	padding: 0;
	text-align:left;	
	float:left;
}